.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  width: 100px;
}
.people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}
