.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}

.item1 {
  width: 90px;
  text-align: center;
}

.item2 {
  width: 100px;
  text-align: center;
}

.item3 {
  width: 30px;
}

.delete {
  width: 24px;
}
